In [2]:
import pandas as pd

In [5]:
chalearn_labels_path = "/home/vlados/datasets/chalearn/Info_devel_valid.txt"

In [6]:
chalearn_labels_df = pd.read_csv(chalearn_labels_path, sep="\t")

In [7]:
chalearn_labels_df.head()

,Set,Num,Lexicon,UserID,Date,MinDepth,MaxDepth,DepthRes,DepthAcc,Missing
0,devel,1,CanadaAviationGroundCirculation1,A,2011 10 05 16 26,801,1964,76,2,0
1,devel,2,RefereeWrestlingSignals1,I,2011 09 28 14 31,801,1968,71,1,0
2,devel,3,GangHandSignals1,L,2011 09 27 12 16,801,1506,95,1,0
3,devel,4,DivingSignals2,J,2011 09 26 09 01,801,1869,100,1,0
4,devel,5,GestunoDisaster,L,2011 10 11 15 16,824,1964,91,2,0

In [14]:
chalearn_labels_df.loc[chalearn_labels_df["Lexicon"].str.contains("Diving")]

,Set,Num,Lexicon,UserID,Date,MinDepth,MaxDepth,DepthRes,DepthAcc,Missing
3,devel,4,DivingSignals2,J,2011 09 26 09 01,801,1869,100,1,0
5,devel,6,DivingSignals3,B,2011 10 15 17 31,832,1931,96,2,0
13,devel,14,DivingSignals4,F,2011 09 30 19 10,801,1438,64,1,0
19,devel,20,DivingSignals1,D,2011 10 10 09 12,809,2505,155,2,0
22,valid,3,DivingSignals2,Z,2011 10 07 15 11,801,1998,85,2,0
...,...,...,...,...,...,...,...,...,...,...
456,devel,437,DivingSignals4,A,2011 10 13 13 20,801,1711,77,2,0
459,devel,440,DivingSignals2,R,2011 10 07 10 59,861,2857,142,2,0
466,devel,447,DivingSignals4,D,2011 09 30 09 10,801,1916,110,1,0
472,devel,453,DivingSignals4,R,2011 10 03 09 37,801,2045,133,2,0
494,devel,475,DivingSignals1,M,2011 10 05 10 53,801,2560,163,2,0